<% locals.title = 'Projects' %>
<% include ../layouts/_header %>
<h1>Projects</h1>
<h2>Imager.js</h2>
<p>Responsive images while we wait for srcset to finish cooking</p>
<p>Imager.js is an alternative solution to the issue of how to handle responsive image loading, created by developers at BBC News.</p>
<p>See the repo for more information: <a href="https://github.com/BBC-News/Imager.js">https://github.com/BBC-News/Imager.js</a></p>
<% include ../layouts/_footer %>
