<!doctype html>
<!--[if IE 8]><html class="ie8" dir="ltr" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" dir="ltr" lang="en"><![endif]-->
<!--[if gt IE 9]><!--> <html dir="ltr" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Mark McDonnell" />
        <title>{% if page.title %} {{ page.title }} | {% endif %}Integralist</title>
        <!--[if lt IE 9]>
        <script src="/Assets/Scripts/html5.js"></script>
        <![endif]-->
        <link rel="stylesheet" href="/Assets/Styles/pygment.css" media="all">
        <link rel="stylesheet" href="/Assets/Styles/layout.css" media="all">
        <!--[if (lt IE 9) & (!IEMobile)]><![endif]-->
        {% if site.feedburner %}
        <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="http://feeds.feedburner.com/{{ site.feedburner.id }}">
        {% endif %}
        {% if site.googleAnalytics %}
        <script>
            var _gaq=[['_setAccount','{{ site.googleAnalytics.id }}'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        {% endif %}
    </head>
    <body>
        <header class="header container">
            <ul class="social-links">
                <li><a href="http://www.github.com/integralist" target="_blank" class="social-links__github"><span>GitHub</span></a></li>
                <li><a href="http://www.twitter.com/integralist" target="_blank" class="social-links__twitter"><span>Twitter</span></a></li>
            </ul>
            <p class="header__title"><a href="/" class="header__homelink">integralist</a></p>
            <p class="header__strapline">BBC News Engineer: Object-Oriented Design principles using Node, Ruby, PHP, BEM, AMD, BDD, TDD. <br>Loves Unix (Awk, Sed, Grep... etc) and Regular Expressions</p>
            <a href="#info" class="header__moreinfo">More info about me&hellip;</a>
        </header>
        <section class="articles container">
            {{ content }}
        </section>
        <section class="info container" id="info">
            <section class="info__section">
                <h3 class="info__title">Links</h3>
                <ul class="info__list">
                    <li><a href="http://www.github.com/integralist" target="_blank">GitHub</a></li>
                    <li><a href="http://www.twitter.com/integralist" target="_blank">Twitter</a></li>
                    <li><a href="http://integralist.co.uk/Resume/" target="_blank">Resume</a></li>
                    <li><a href="https://speakerdeck.com/integralist/" target="_blank">Speaker Deck</a></li>
                    <li><a href="http://slid.es/markmcdonnell/" target="_blank">Slid.es</a></li>
                    <li><a href="http://uk.linkedin.com/pub/mark-mcdonnell/65/5/88" target="_blank">LinkedIn</a></li>
                </ul>
            </section>
            <section class="info__section">
                <h3 class="info__title">Abilities</h3>
                <ul class="info__list">
                    <li>Practical Code Design and Architecture</li>
                    <li>Test/Behaviour Driven Development</li>
                    <li>Object-Oriented/Scalable CSS</li>
                    <li>Semantic/Efficient HTML</li>
                    <li>Modular JavaScript</li>
                </ul>
            </section>
            <section class="info__section">
                <h3 class="info__title">Enjoys</h3>
                <ul class="info__list">
                    <li>Gracie Jiu-Jitsu</li>
                    <li>Programming</li>
                    <li>Integral Theory</li>
                </ul>
            </section>
            <section class="info__section">
                <h3 class="info__title">Listens</h3>
                <ul class="info__list">
                    <li>LTJ Bukem</li>
                    <li>Clutch</li>
                    <li>Tool</li>
                    <li>Meshuggah</li>
                    <li>Russian Circles</li>
                    <li>Earthtone9</li>
                    <li>Will Haven</li>
                    <li>ISIS</li>
                </ul>
            </section>
        </section>
        <script src="/Assets/Scripts/Imager.js"></script>
    </body>
</html>
